h1 {
    text-align: center;
    font-weight: 1600;
   }
#overview td, #overview th {
  border: 1px solid #ddd;
  padding: 8px;
}

#overview tr:nth-child(even){background-color: #f2f2f2;}

#overview th {
  text-decoration: underline;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ddd;
  color: black;
}

table {
    border: 10px groove black;
    border-radius: 35px 15px; 
}